body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  margin: 0;
  display: flex;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(1, 82, 99) 0%, rgb(18, 94, 235) 35%, rgba(0,212,255,1) 100%);
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.editor{
  margin-top: 40px;
  margin-left: 100px;
  display: flex;
  width: 550px;
  height: 150px;
  border: 1px solid black;
  flex-direction: column;
}

.preview{
  display: flex;
  width:  750px;
  height: 350px;
  border: 1px solid black;
  flex-direction: column;
  background-color: white;
  color: black;
}

.input{
  margin-top: 5px;
  width:98%;
  height: 70%;
}

.header{
  height: 20%;
  border: 1px solid black;
  font-size: large;
}

header{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}